<config>
    <modules>
        <Developmint_Ipsconnectsso>
            <version>0.1.0</version>
        </Developmint_Ipsconnectsso>
    </modules>
    <frontend>
        <routers>
            <ipsconnectsso>
                <use>standard</use>
                <args>
                    <module>Developmint_Ipsconnectsso</module>
                    <frontName>ipsconnectsso</frontName>
                </args>
            </ipsconnectsso>
        </routers>
    </frontend>
    <global>
        <blocks>
            <developmint_ipsconnectsso>
                <class>Developmint_Ipsconnectsso_Block</class>
            </developmint_ipsconnectsso>
            <customer>
                <rewrite>
                    <form_login>Developmint_Ipsconnectsso_Block_Login</form_login>
                </rewrite>
            </customer>
        </blocks>
        <helpers>
            <ipsconnectsso>
                <class>Developmint_Ipsconnectsso_Helper</class>
            </ipsconnectsso>
        </helpers>
        <models>
            <ipsconnectsso>
                <class>Developmint_Ipsconnectsso_Model</class>
                <resourceModel>ipsconnectsso_resource</resourceModel>
            </ipsconnectsso>
            <ipsconnectsso_resource>
                <class>Developmint_Ipsconnectsso_Model_Resource</class>
                <entities>
                    <ipsmagentocustomermap>
                        <table>developmint_ips_magento_customer_map</table>
                    </ipsmagentocustomermap>
                </entities>
            </ipsconnectsso_resource>
        </models>
        <resources>
            <ipsconnectsso_setup>
                <setup>
                    <module>Developmint_Ipsconnectsso</module>
                    <class>Developmint_Ipsconnectsso_Model_Resource_Setup</class>
                </setup>
            </ipsconnectsso_setup>
        </resources>
        <events>
            <customer_delete_before>
                <observers>
                    <Developmint_Ipsconnectsso_model_observer>
                        <type>singleton</type>
                        <class>Developmint_Ipsconnectsso_Model_Observer</class>
                        <method>customerDeleteBefore</method>
                    </Developmint_Ipsconnectsso_model_observer>
                </observers>
            </customer_delete_before>
            <sales_order_place_before>
                <observers>
                    <Developmint_Ipsconnectsso_model_observer>
                        <type>singleton</type>
                        <class>Developmint_Ipsconnectsso_Model_Observer</class>
                        <method>updateCustomerName</method>
                    </Developmint_Ipsconnectsso_model_observer>
                </observers>
            </sales_order_place_before>
        </events>
    </global>
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <developmint_ipsconnectsso before="Mage_Customer_AccountController">Developmint_Ipsconnectsso</developmint_ipsconnectsso>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_customer_prepare_save>
                <observers>
                    <Developmint_Ipsconnectsso_model_observer>
                        <type>singleton</type>
                        <class>Developmint_Ipsconnectsso_Model_Observer</class>
                        <method>adminCustomerSaveBefore</method>
                    </Developmint_Ipsconnectsso_model_observer>
                </observers>
            </adminhtml_customer_prepare_save>
            <adminhtml_customer_save_after>
                <observers>
                    <Developmint_Ipsconnectsso_model_observer>
                        <type>singleton</type>
                        <class>Developmint_Ipsconnectsso_Model_Observer</class>
                        <method>adminCustomerSaveAfter</method>
                    </Developmint_Ipsconnectsso_model_observer>
                </observers>
            </adminhtml_customer_save_after>
        </events>
    </adminhtml>
</config>